# Data Structure

1) What are data structures, and why are they important?
   - Data structre allow the user to organise and store the data in different formats, which he/she can alter, edit or retrieve any time

2) Explain the difference between mutable and immutable data types with examples.
  - Data which is editable is called mutable type and which is non editable is called immutable
    Eg: List[] is mutable data type and tuple() is immutable data type.

3) What are the main differences between lists and tuples in Python?
- List[] is mutable data type i.e it can be modified any time where as tuple() is immutable data type, once madle tuple cannot be modified.

4) Describe how dictionaries store data.
 - Dictionaries store data in key and value formate. eg Dic{a: "Apple", b: "Ball"}

5) Why might you use a set instead of a list in Python?
 - Site allows user to store unique value, it cut off he repetative values and give back you unique set of element. list can store any data with repetative value. So to eleminate the reccuring values we can use sets.

6) What is a string in Python, and how is it different from a list?
 - String is a sequence of character, defined by a **unique code** and it's a manipulative textual data. Characters are represented using numerical values and each character is assigned a unique no eg. ASCII (7 bits) and UNICODE (16 bits). list by default saves values with indexing, also list can save data in form of string, float, boolean, intiger, etc.

7) How do tuples ensure data integrity in Python?
 - Tuples allows to integrate different tuples by using '+' with it. We can combine and can make a new tuple by using '+' between them.

8) What is a hash table, and how does it relate to dictionaries in Python?
 - A hash table is a data structure that stores key-value pairs. In Python, the dict type is an implementation of a hash table.

9) Can lists contain different data types in Python?
 - Yes, list can contain any data type.

10) Explain why strings are immutable in Python.
- Python strings are "immutable" which means they cannot be changed after they are created i.e. if str = "apple" we cannot modify the  just one letter of the assigned value "apple" instead we have to declaire it again like str = "jpple".

11) What advantages do dictionaries offer over lists for certain tasks?
 - Dictionary saves Data in key and values formate which allows to store data more systematically and eassy data retrieval. where in list values can be duplicate we'll need to remenber the index number to retieve the values.

12) Describe a scenario where using a tuple would be preferable over a list?
 - In scenario where you want to design a protocol for let's say pharmaceutical procedure which you want to never alter in any way to avoid errors than you can use tuple instead of list as tuples are immutable.

13) How do sets handle duplicate values in Python?
 - The main function of sets in python is that it gives unique value of data which means that it doesn't allow duplicacy, whenever duplicate values are given to sets it will only print it once. It doesn't record repeating values.

14) How does the “in” keyword work differently for lists and dictionaries?
 - The "in" keywords always look for the keyword which is mentioned before it in the next defined keyword after it
 - eg.
 - sen = " it is acceptable"
  - "is" in sen # it will give true
  - when we use in for list it will check for that value in the list, while when we use it in Dictionaries it will look for the key and will return the value.

15)  Can you modify the elements of a tuple? Explain why or why not?
 - Tulpe does allow data modification as it is immutable. You cannnot modify the element once a tuple is declared.

16) What is a nested dictionary, and give an example of its use case?
 - A nested dictionary is a dictionary where the values are themselves dictionaries, creating a hierarchical structure for storing and organizing data. A use case could be retaurant menu where keys like veg, non-veg, drinks & cocktails will have sub keys have info of items with its info.

17) Describe the time complexity of accessing elements in a dictionary?
 - In dictionary the elements are always assigned by keys, so to acccess the element you need to execute the right key. As the hash function allows direct access to the element's location, retrieving a value by its key takes, on average, constant time, O(1).

18) In what situations are lists preferred over dictionaries?
 - list compare to dictionaries has very rough work kind of role. List can be of any kind which can be used for day to day task, Travel essentials, set of rules, ect. While dictionary stores data more structured way in a hierarchial order, for example any Organization can store all the employee data according to thiere Department and Designation, Employee ID, etc.

19) Why are dictionaries considered unordered, and how does that affect data retrieval?
 - In dictionary the data is store in key=value pair, which makes retrival of data easy as you only need to execute the keys. Dictionary is not meant to save data in ordered form as the retrieval of data fully depends on keys which makes user to retrieve or print data in whichever manner he/she wants.
 - For example,
 - if a = { 1 : 'a', 2 : 'b' }
 - b = { 2 : 'b', 1 : 'a' }
 - a == b is true

20) Explain the difference between a list and a dictionary in terms of data retrieval.
 - List data stored in an ordered way through indexing to rertrieve data you need the indexng number to get exact output, which can't be handy for lengthy unmanageable lists. For dictionary this is not the case as you only need to execute the keys in whichever order you want to rerive the data. list you can save any kind of data type but on doctionary you need immutable keys. These are the major differences of list and dictionaries.

In [ ]:
# Write a code to create a string with your name and print it?
Name = "Summit Sunil Khaire"
print(Name)

Summit Sunil Khaire

In [ ]:
# Write a code to find the length of the string "Hello World".
sentence = "Hello World"
print(len(sentence))

11

In [ ]:
# Write a code to slice the first 3 characters from the string "Python Programming".
sentence = "Python Programming"
print(sentence[0:3])

Pyt

In [ ]:
# Write a code to convert the string "hello" to uppercase.
text = "hello"
text.upper()

'HELLO'

In [ ]:
# Write a code to replace the word "apple" with "orange" in the string "I like apple".
Str1 = "I like apple"
Str1.replace("apple", "orange")

'I like orange'

In [ ]:
# Write a code to create a list with numbers 1 to 5 and print it.
List1 = [1,2,3,4,5]
print(List1)

[1, 2, 3, 4, 5]

In [ ]:
# Write a code to append the number 10 to the list [1, 2, 3, 4]
List2 = [1,2,3,4]
List2.append(10)
print(List2)

[1, 2, 3, 4, 10]

In [ ]:
# Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
List3 = [1,2,3,4,5]
List3.remove(3)
print(List3)

[1, 2, 4, 5]

In [ ]:
# Write a code to access the second element in the list ['a', 'b', 'c', 'd']
List4 = ['a', 'b', 'c','d',]
List4[1]

'b'

In [ ]:
#Write a code to reverse the list [10, 20, 30, 40, 50].
List5 = [10,20,30,40,50]
List5[::-1]

[50, 40, 30, 20, 10]

In [ ]:
#Write a code to create a tuple with the elements 100, 200, 300 and print it
tuple1 = (100, 200, 300)
tuple1

(100, 200, 300)

In [ ]:
#Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
tuple2 = ('red', 'green', 'blue', 'yellow')
tuple2[-2]

'blue'

In [ ]:
# Write a code to find the minimum number in the tuple (10, 20, 5, 15).
tup3 = (10, 20, 5, 15)
min(tup3)

5

In [ ]:
 # Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
 tup4 = ('dog', 'cat', 'rabbit')
 tup4.index('cat')

1

In [ ]:
#  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
tup5 =  ('apple', 'banana', 'kiwi')
'kiwi' in tup5

True

In [ ]:
#  Write a code to create a set with the elements 'a', 'b', 'c' and print it.
set1 = {'a','b','c'}
set1

{'a', 'b', 'c'}

In [ ]:
#  Write a code to clear all elements from the set
string = {1, 2, 3, 4, 5}
string.clear()
string

set()

In [ ]:
#  Write a code to remove the element 4 from the set {1, 2, 3, 4}.
srting1 = {1, 2, 3, 4}
srting1.remove(4)
srting1

{1, 2, 3}

In [ ]:
# Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}
set1 = {1,2,3}
set2 = {3,4,5}
set1 | set2

{1, 2, 3, 4, 5}

In [ ]:
# Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 = {1,2,3}
set2 = {2,3,4}
set1 & set2

{2, 3}

In [ ]:
# Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
dic1 = {"name": "Summit", "age": 27, "city": "Mumbai"}
dic1

{'name': 'Summit', 'age': 27, 'city': 'Mumbai'}

In [ ]:
# Write a code to add a new key-value pair "country": "USA" to the dictionary
dic2 = {'name': 'John', 'age': 25}
dic2['country'] = 'USA'
dic2

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
# Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
dic3 = {'name': 'Alice', 'age': 30}
dic3['name']

'Alice'

In [ ]:
# Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
dic4 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
dic4.pop('age')
dic4

{'name': 'Bob', 'city': 'New York'}

In [ ]:
# Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
dic5 = {'name': 'Alice', 'city': 'Paris'}
'city' in dic5

True

In [ ]:
# Write a code to create a list, a tuple, and a dictionary, and print them all.
list9 = ['sumit' , -1, 'true', 3.3]
tuple9 = ('sumit' , -1, 'true', 3.3)
dic9 = {'name': 'Alice', 'city': 'Paris'}
print(list9)
print(tuple9)
print(dic9)

['sumit', -1, 'true', 3.3]
('sumit', -1, 'true', 3.3)
{'name': 'Alice', 'city': 'Paris'}

In [ ]:
# Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random
random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
random_numbers

[18, 34, 35, 49, 83]

In [ ]:
#Write a code to create a list with strings and print the element at the third index
string_list = ["apple", "banana", "cherry", "date", "elderberry"]
string_list[3]

'date'

In [ ]:
# Write a code to combine two dictionaries into one and print the result.
dic1 = {'a': 1, 'b': 2}
dic2 = {'c': 3, 'd': 4}
dic1.update(dic2)
dic1

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [ ]:
# Write a code to convert a list of strings into a set.
string_list = ["apple", "banana", "cherry", "date", "elderberry"]
set(string_list)

{'apple', 'banana', 'cherry', 'date', 'elderberry'}

In [ ]:
type(string_list)

list